body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
/* General Header Styling */
header {
    background-color: #3498db;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color:  #0056b3;
    color: #fff;
}
/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Search Form */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 70%;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Featured Listings */
#featured {
    margin-top: 30px;
}

#featured h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
    form input[type="text"] {
        width: 60%;
    }

    form button {
        width: 40%;
    }

    main {
        padding: 10px;
        margin: 10px auto;
    }
}

